<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sentimentofguitarapp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon_guitar"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon_guitar_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".sentiments.SentimentsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".listdetail.ListDetailActivity"></activity>
    </application>

</manifest>